//
// Standard Posts author box
// @since v3.2
// 

#author-box {
	margin-bottom: 20px;
}

.author-box-image {
	float: left;
	margin-right: 20px;
}

#author-box .author-link {
	display: inline-block;
	overflow: hidden;
	margin-right:10px;
	padding-left: 18px;
	background-image: url(./images/icn-author-sprites.png);
	background-repeat: no-repeat;
	color: #999;
	line-height: 1;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

#author-box .author-link:hover {
	text-decoration: none;
	opacity: 0.6;
}

.author-link.author-posts-url {
	background-position: 0 0;
}

.author-link.author-url {
	background-position: 0 -19px;
}

.author-link.icn-twitter {
	background-position: 0 -37px;
}

.author-link.icn-facebook {
	background-position: 0 -58px;
}

.author-link.icn-gplus {
	background-position: 0 -78px;
}
