//
// Standard ie styles
// @since v3.2
//

#ie8 .navbar .dropdown-menu .submenu > .dropdown-menu {
	display: none;
}

#ie8 .navbar .dropdown:hover > .submenu-show {
	display: block;
	margin-left: 100px;
}

#ie8 .thumbnail {

	width: 90%;

	a,
	a img {
		width: 100%;
	}

}

#ie8 .post-title a {
	display: block;
}

#ie8 .format-image img {
	width: auto\9;
}

#ie8 body .entry-content .wp-caption {
	background: #f6f6f6;
}

#ie8 body .post .thumbnail {
	width: 150px;
	height: 150px;
}

#ie8 body .format-image .entry-content img,
#ie8 body .format-image .entry-content a {
	min-width: 100%;
	max-width: 100%;
}

#ie8 body .format-video .entry-content > * {
	margin-top: -20px;
}

#ie8 .post.format-link .post-header {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

#ie8 body .post.format-status .post-header {
	border: 1px solid #f6f6f6;
}

#ie8 body #comments .comment-container .avatar-holder {
	width: 50px;
}

#ie8 body #comment-form-avatar img {
	min-width: 50px;
	min-height: 50px;
}

#ie8 .menu-navigation {
	min-height: 40px;
}

#ie8 {

	.tiled-gallery-item {

		a {

			float: left;

			img {
				float:	left;
				width:	auto;
			} // img

		} // a

	} // .tiled-gallery-item

} // #ie8