//
// Standard Widgets
// @since v3.2
//

// Widget Areas
// -----------------------------------------

#sidebar {
	
	.widget {
		margin-bottom:	30px;
	} // .widget
	
} // #sidebar

.widget_categories { 

	ul.children {
	
    	padding-left:	5px;
    	border-left: 	1px solid #E0E0E0;
    	
    } // ul.children
    
} // .widget_categories

#footer-widgets {

	.widget {
		margin-bottom:	30px;
	} // .widget
	
} // #footer-widgets

// Main Widget Styling
// -----------------------------------------

.widget {
	
	label {
	
		float:	none;
		width:	auto;
		
	} // label
	
} // .widget

.widget {

	h4.widget-title {
	
		margin-bottom: 	10px;
		padding-bottom: 10px;
		border-bottom: 	1px solid #e0e0e0;
		font-size: 		18px;
		line-height: 	24px;
		
	} // h4.widget-title
	
} // .widget

.widget {

	h4.widget-title {
	
		a {
		
			color: 			 #444;
			text-decoration: none;
			
		} // a
		
	} // h4.widget-title
	
} // .widget

#footer-widgets {

	.widget {
	
		h4.widget-title {
			border-bottom: 	1px solid #999;
		} // h4.widget-title
		
	} // .widget
	
} // #footer-widgets

.widget {
	
	ul {
	
		margin:		0;
		padding: 	0;
		
	} // ul
	
} // .widget

.widget {

	ul {
	
		li {
		
			padding: 	5px 0;
			list-style: none;
		
		} // li
		
	} // ul
	
} // .widget

.widget {

	ul {
	
		li {
		
			a {
				color:	#777;
			} // a
			
		} // li
		
	} // ul
	
} // .widget

.widget {

	ul {
	
		li {
			
			a:hover {
				color: #999;
			} // a:hover
			
		} // li
		
	} // ul
	
} // .widget

// Post advertising Widgets
// -----------------------------------------

#standard-post-advertisement {

	text-align:	center;
	
	.widget {
		margin-bottom: 	20px;
	} // .widget
	
} // #standard-post-advertisement


// Text Widgets
// -----------------------------------------

.textwidget {

	img {
	
		max-width: 	100%;	
		height: 	auto;
		
	} // img
	
} // .textwidget

// Search Widgets
// -----------------------------------------

#header-widget {
	
	.widget_search {
	
		float: 		right;
		padding: 	10px;
		width: 		260px;
		background: rgba(255,255,255,0.2);
		
		form,
		input {
			margin-bottom: 0;
		} // form, input
		
	} // .widget_search
	
} // #header-widget

#sidebar {

	.widget_search {
	
		margin-bottom: 10px;
		
		form {
			margin-bottom: 0;
		} // form
		
		label.screen-reader-text {
		
			padding-top: 	0;
			padding-right: 	5px;
			width: 			100%;
			text-align: 	left;
			
		} // label.screen-reader-text
		
	} // .widget_search
	
} // #sidebar


.widget_nav_menu {

	ul.sub-menu {
	
		padding-left:	5px;
		border-left: 	1px solid #E0E0E0;
	
	} // ul.sub-menu
	
} // .widget_nav_menu

#footer-widgets {

	.widget_nav_menu {
	
		ul.sub-menu {
			border-left-color: #999;
		} // ul.sub-menu
		
	} // end .wiget_nav_menu
	
} // #footer-widgets

// RSS Widgets
// -----------------------------------------

.widget_rss {

	h3.widget-title {
	
		a {
			color: #444;
		} // a
		
	} // h3.widget-title
	
	a.rsswidget {
	
		img {
			display: none;
		} // img
		
	} // a.rsswidget
	
	ul {
	
		li {
		
			.rss-date {
			
				font-style:	italic;
				font-size: 	12px;
				
			} // .rss-date
			
			.rssSummary {
			
				color: 		#404040;
				font-size: 	12px;
				
			} // .rssSummary
			
		} // li
		
	} // ul
	
} // .widget_rss


// WP - Calender widget
// -----------------------------------------

table#wp-calendar {

	width: 		100%;
	background: #fff;
	
	caption {
	
		padding: 	10px 0;
		color: 		#999;
		
	} // caption
	
	thead {
	
		background: #333;
		color: 		#f0f0f0;
		
	} // thead
	
	td {
	
		background: #fff;
		
		&:hover {
			background: #f5f5f5;
		} // :hover
	
	} // td
	
	tfoot {
	
		background: #f8f8f8;
		
		th, 
		td {
			padding: 		5px 5px 9px;
			text-align: 	center;
			line-height: 	18px;
		} // th, td
		
		td {
		
			padding: 			5px 15px;
			border-top: 		1px solid #e0e0e0;
			background-color: 	#fefefe;
			background-color: 	#ffffff;
			background-image: 	-webkit-gradient(linear, left top, left bottom, from(rgb(245, 245, 245)), to(rgb(255, 255, 255)));
			background-image: 	-webkit-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
			background-image: 	-moz-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
			background-image: 	-o-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
			background-image: 	-ms-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
			background-image: 	linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
			filter: 			progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#ffffff');
			
			a {
				color: #999;
			} // a
			
		} // td
		
		td#prev {
			text-align: left;
		} // #prev
		
		td#next {
			text-align: right;
		} // #next
		
	} // tfoot
	
} // #wp-calendar


// Tag Cloud Widget
// -----------------------------------------

.tagcloud {

	a {
	
		display: 				inline-block;
		margin: 				3px 1px;
		padding: 				4px 6px;
		-webkit-border-radius: 	4px;
		-moz-border-radius: 	4px;
		border-radius: 			4px;
		background: 			#f5f5f5;
		font-size: 				14px !important;
		
	} // a
	
} // .tagcloud 

// Jetpack Widgets
// -----------------------------------------

.entry-content {

	.twitter-tweet-rendered {
	
		max-width: 	100% !important;
	    width: 		100%
	    
    } // .twitter-tweet-rendered
    
} // .entry-content

.entry-content {
	
	.sharing {
		clear: both;
	} // .sharing
	
} // .entry-content

.widget_freshposts {

	ul {

		li {
			
			img {
			
				width: 	100%;
				height: auto;
				
			} // img
			
		} // li
		
	} // ul
	
} // .widget_freshposts

// Jetpack Post Comment Subscription
// -----------------------------------------

.comment-subscription-form {

	clear: both;
	
	input[type="checkbox"] {
	
		float: 			left;
		margin-right: 	10px;
		
	} // type='checkbox'
	
} // .comment-subscription-form

// Jetpack Blog subscription widget
// -----------------------------------------

.jetpack_subscription_widget {

	padding: 		20px 20px 11px 20px;
	border-radius: 	5px;
	background: 	#fff;
	
	form {
		margin-bottom: 	0;
	} // form
	
	label {
		font-weight: 	bold;
	} // label
	
	input[type="text"] {
	
		padding: 	4px !important;
		width: 		96% !important;
		
	} // type='text'
	
	input[type="submit"] {
		margin-bottom: 	0;
	} // type='submit'
	
} // .jetpack_subscription_widget


// Jetpack contact form 
// -----------------------------------------

.contact-form {

	label {
	
		display: 		block; 
		float: 			none;
		margin-bottom: 	3px; 
		font-weight: 	bold; 
	
		span { 
		
			margin-left:	4px; 
			color: 			#aaa; 
			font-weight: 	normal;
			
		} // span
		
	} // label
	
	textarea { 
		
		float: 			none; 
		margin-bottom: 	13px; 
		width: 			97%; 
		height: 		200px;
		
	} // textarea
	
	input[type='text'] { 
	 	margin-bottom:	13px;
	} // type='text'
	
	input[type='radio'],
	input[type='checkbox'] {
		margin-bottom: 13px; 
	} // radio, checkbox
	
	select { 
		margin-bottom: 13px; 
	} // select

	label.checkbox, 
	label.radio {
	
		display:		inline-block; 
		float: 			none; 
		margin-bottom: 	3px; 
		font-weight: 	bold; 
		
	} // label.checkbox, label.radio
	
	.clear-form { 
		clear: both; 
	} // .clear-form
	
	> div {
		margin-bottom: 15px;
	} // > div	
	
} // .contact-form

/// WordPress.com Widget
// -----------------------------------------

#flickr_badge_wrapper {

	border: 	none;
	background: none;
	
} // #flickr_badge_wrapper